# Autosave files 
*~  
 
# Visual Studio 2017 cache/options directory 
.vs/ 
 
# Build Results 
[Dd]ebug/ 
[Dd]ebugPublic/ 
[Rr]elease/ 
[Rr]eleases/ 
x64/ 
x86/ 
bld/ 
[Oo]bj/ 


App2/App2/obj/Debug/netstandard2.0/App2.pdb
*.pdb
.vs/App2/v15/.suo
.vs/App2/v15/Server/sqlite3/db.lock
.vs/App2/v15/Server/sqlite3/storage.ide


*.apk 
*.ap_ 

App2\App2\App2\bin
App2\App2\obj
App2\App2.Android\bin
App2\App2.Android\obj
App2\App2.iOS\bin
App2\App2.iOS\obj
App2\App2.UWP\bin
App2\App2.UWP\obj
App2\App2\bin
App2\App2\obj

App2/App2.Android/obj/Debug/App2.Android.csproj.CoreCompileInputs.cache
App2/App2.Android/obj/Debug/build.props
App2/App2/IKVM/bin-x64/JVM.DLL
